/* Posicionamiento */
.la_empresa{
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 80%;
}

.la_empresa h1 {
    text-align: left;
    font-weight: 300;
    font-size: 3em;
    color: #bc843c;
    margin-bottom: 20px;
}
#parrafo1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: auto;
    margin-right: 1em;
}

#parrafo2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-left: 1em;
    margin-right: auto;
}
 
#imagen1{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-left: 1em;
    margin-right: auto;
}

#imagen2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    margin-left: auto;
    margin-right: 1em;
}

.la_empresa div p{
    text-align: left;
    margin-bottom: 1em;
}
.la_empresa img{
    max-width: 40em;
}

.la_empresa div {
    margin: auto;
    padding: 1em;
}