/* Posicionamiento */
.la_empresa {
    margin: auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-template-areas:
        "parrafo1 img1";
}

.la_empresa h1 {
    text-align: left;
    font-weight: 300;
    font-size: 3em;
    color: #bc843c;
    margin-bottom: 20px;
}

#parrafo1 { grid-area: parrafo1; }

#imagen1 {
    grid-area: img1; 
}

.la_empresa div p {
    text-align: left;
    margin-bottom: 1em;
}

.la_empresa img {
    width: 100%;
}

.la_empresa div {
    margin: auto;
    padding: 1em;
}