.la_empresa{
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    max-width: 80%;
}
.la_empresa div {
    padding: 1em;
}
.la_empresa h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.la_empresa img{
    min-width: 20em;
}
.la_empresa div p{
    text-align: left;
}